body {
    margin:40px auto;
    max-width:850px;
    font-family: sans-serif;
    line-height:1.6;
    font-size:19px;
    color:#444;
    padding:0 10px
}
h1,h2,h3{
    color: black;
    line-height:1.2;
    letter-spacing: 2px;
}
